@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=New+Amsterdam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Funnel+Display:wght@300..800&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asar&family=Bebas+Neue&family=Cal+Sans&family=Funnel+Display:wght@300..800&family=Markazi+Text:wght@400..700&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cal Sans", sans-serif;
  font-size: 15px;
  background-color: white;
}

.barra {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  padding: 5px;
  background-color: rgba(135, 140, 143, 0.4901960784);
}
.barra a {
  color: black;
  padding-right: 10px;
  border-right: 2px solid black;
}
.barra p {
  margin-bottom: 0;
  padding-left: 10px;
}

.logo {
  height: 80px;
}

.navbar {
  background-color: #FCF7FF !important;
  position: sticky;
  top: 0;
  height: 60px;
}

.navbar-nav .nav-link.active {
  color: black;
  font-size: 14px;
}

.me-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.form-control {
  width: 50%;
  margin-left: auto !important;
  height: 25px;
  background-color: rgba(199, 184, 184, 0.33);
}

.d-flex {
  align-items: center;
}

.btn {
  color: black;
  border: 1px solid black;
}

.btn-outline-success {
  --bs-btn-hover-bg: #0d1b2aa0;
  --bs-btn-hover-border-color: rgb(0, 0, 0);
  --bs-btn-active-bg: rgba(255, 255, 255, 0.153);
  --bs-btn-active-border-color: rgba(255, 255, 255, 0.153);
}

/* MAIN INDEX */
.main-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../img/bienvenida.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 450px;
}

.bienvenida {
  text-align: center;
  color: black;
  font-family: "Cal Sans", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}
.bienvenida h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
}
.bienvenida p {
  margin: 0;
}

.ingresar {
  background-color: rgba(135, 140, 143, 0.4901960784);
  border-radius: 5px;
  width: 20%;
  padding: 30px;
  height: 320px;
}
.ingresar h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  margin: 0;
}
.ingresar form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.ingresar form .boton-afiliado {
  margin: 5px;
}

.afiliarme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.afiliarme .boton {
  font-family: "Markazi Text", serif;
  border-radius: 3px;
  padding: 2px;
}

.banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(135, 140, 143, 0.4901960784);
  padding: 15px;
}

.servicio {
  display: flex;
  align-items: center;
}
.servicio img {
  width: 50px;
}
.servicio a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
}

.caja-novedades h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  text-align: center;
  color: black;
  margin-top: 8px;
  margin-bottom: 0;
}
.caja-novedades p {
  text-align: center;
  color: black;
}

.novedades {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
.novedades div {
  text-align: center;
  color: black;
  border: 0 solid #7C7C7C;
  width: 350px;
  height: 400px;
}
.novedades div img {
  width: 300px;
  height: 200px;
}
.novedades div h3 {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.novedades div p {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
}
.novedades div input {
  width: 100px;
  background-color: aliceblue;
  color: black;
}

/* WAP BUTTON */
.wap {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/* MAIN PAGINA CONOCENOS */
.conocenos-bienvenida {
  display: flex;
  align-items: center;
  background-image: url(../img/conocenos.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  padding: 80px;
}
.conocenos-bienvenida div {
  background-color: rgba(135, 140, 143, 0.4901960784);
  width: 50%;
  height: 320px;
  padding: 10px;
}
.conocenos-bienvenida div h1 {
  font-size: 35px;
  text-align: justify;
  color: black;
}
.conocenos-bienvenida div h3 {
  font-size: 15px;
  text-align: justify;
  color: black;
}
.conocenos-bienvenida div p {
  font-size: 15px;
  text-align: justify;
  padding: 12px;
  color: black;
  margin-bottom: 0px;
}

.caja-servicios h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  text-align: center;
  color: black;
  margin-top: 8px;
  margin-bottom: 0;
}
.caja-servicios p {
  text-align: center;
  color: black;
}

.grid-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px;
  gap: 15px;
  margin: 10px;
}

.grid-cajas {
  position: relative;
}
.grid-cajas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-cajas h3 {
  position: absolute;
  bottom: 0;
  background-color: rgba(27, 38, 59, 0.4745098039);
  color: white;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}

.mas-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.mas-servicios a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(17, 36, 71, 0.5333333333);
}

/* FOOTER */
footer {
  background-color: #C2C1C2;
  font-family: "Cal Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: black;
  padding-bottom: 15px;
}

.foot {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  padding-right: 0;
}
.foot div h4 {
  font-family: "Cal Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}
.foot ol {
  padding: 0;
  margin-bottom: 0;
}

.ospa p {
  margin: 0;
}
.ospa img {
  width: 50px;
  color: black;
  padding-left: 15px;
  padding-top: 10px;
}

.informacion ol li {
  list-style: none;
}
.informacion ol li a {
  text-decoration: none;
  color: black;
}

.afiliarse ol li {
  list-style: none;
}
.afiliarse ol li a {
  text-decoration: none;
  color: black;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.icons img {
  width: 15px;
}
.icons a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}

.privacidad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 10px;
}
.privacidad p {
  margin: 0;
}
.privacidad a {
  color: black;
}

/*# sourceMappingURL=estilos.css.map */
