@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Funnel+Display:wght@300..800&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asar&family=Bebas+Neue&family=Cal+Sans&family=Funnel+Display:wght@300..800&family=Markazi+Text:wght@400..700&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cal Sans", sans-serif;
    font-size: 15px;
    background-color: white;
}

/* -------------HEADER--------------- */
.barra{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    padding: 5px;
    background-color: #878c8f7d;
}
.barra a{
    color: black;
    padding-right: 10px;
    border-right: 2px solid black;
}
.barra p{
    margin-bottom: 0;
    padding-left: 10px;
}

/* -------------- NAV BAR ------------------ */
.logo {
    height: 80px;
}
.navbar {
    background-color: #FCF7FF !important;
    position: sticky;
    top: 0;
    height: 60px;
}
.navbar-nav .nav-link.active {
    color: black;
    font-size: 14px;
}
.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}
.form-control {
    width: 50%;
    margin-left: auto !important;
    height: 25px;
    background-color: rgb(199 184 184 / 33%);
}
.d-flex {
    align-items: center;
}
.btn {
    color: black;
    border: 1px solid black;
}
.btn-outline-success {
    --bs-btn-hover-bg: #0d1b2aa0;
    --bs-btn-hover-border-color: rgb(0, 0, 0);
    --bs-btn-active-bg: rgba(255, 255, 255, 0.153);
    --bs-btn-active-border-color: rgba(255, 255, 255, 0.153);
}

/* ---------------MAIN INDEX----------------- */
.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/bienvenida.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}
.bienvenida {
    text-align: center;
    color: black;
    font-family: "Cal Sans", sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}
.bienvenida h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
}
.bienvenida p {
    margin: 0;
}
.ingresar {
    background-color: #878c8f7d;
    border-radius: 5px;
    width: 20%;
    padding: 30px;
    height: 320px;
}
.ingresar h2 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    margin: 0;
}
.ingresar form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}
.afiliarme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.boton-afiliado {
    margin: 5px;
}
.boton {
    font-family: "Markazi Text", serif;
    border-radius: 3px;
    padding: 2px;
}
.banner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #878c8f7d;
    padding: 15px;
}
.servicio {
    display: flex;
    align-items: center;
}
.servicio a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
}
.servicio img{
    width: 50px;
}
.caja-novedades h2 {
    font-family: "Markazi Text", serif;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: 8px;
    margin-bottom: 0;
}
.caja-novedades p {
    text-align: center;
    color: black;
}
.novedades {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
.novedades div {
    text-align: center;
    color: black;
    border: 0 solid #7C7C7C;
    width: 350px;
    height: 400px;
}
.novedades div h3{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.novedades div p{
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}
.novedades div img{
    width: 300px;
    height: 200px;
}
.novedades div input{
    width: 100px;
    background-color: aliceblue;
    color: black;
}
.wap {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* -------------- PAGINA CONOCENOS --------------- */
.conocenos-bienvenida {
    display: flex;
    align-items: center;
    background-image: url(../img/conocenos.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    padding: 80px;
}
.conocenos-bienvenida div {
    background-color: #878c8f7d;
    width: 50%;
    height: 320px;
    padding: 10px;
}
.conocenos-bienvenida div h1{
    font-size: 35px;
    text-align: justify;
    color: black;
}
.conocenos-bienvenida div h3{
    font-size: 15px;
    text-align: justify;
    color: black;
}
.conocenos-bienvenida div p{
    font-size: 15px;
    text-align: justify;
    padding: 12px;
    color: black;
    margin-bottom: 0px;
}
.caja-servicios h2 {
    font-family: "Markazi Text", serif;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: 8px;
    margin-bottom: 0;
}
.caja-servicios p{
    text-align: center;
    color: black;
}
.grid-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    gap: 15px;
    margin: 10px;
}
.grid-cajas {
    position: relative;
}
.grid-cajas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-cajas h3 {
    position: absolute;
    bottom: 0;
    background-color: #1b263b79;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
.mas-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.mas-servicios a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 15px;
    background-color: #11244788;
}

/* ------------- PAGINA DE SERVICIOS ------------- */
.img-A {
    width: 100%;
    height: 380px;
    object-fit: cover;
    position: relative;
}
.servicios-2 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -80px;
    width: 100%;
}
.caja2-servicios {
    background-color: #878c8f7d;
    color: black;
    text-align: center;
    padding: 15px;
    margin: 2px;
    width: 20%;
    font-family: "Quicksand", sans-serif;
}
.caja2-servicios h3 {
    font-size: 15px;
    font-weight: 300;
}
.caja2-servicios p {
    font-size: 10px;
    font-weight: 600;
}
.caja2-servicios button {
    background-color: #11244788;
    width: 30px;
    border: 0;
    border-radius: 5px;
}
.servicios-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 100px;
    row-gap: 25px;
    column-gap: 5px;
    margin-top: 65px;
}
.caja3-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    padding: 10px;
    margin: 3px;
    background-color: #7c7c7c3d;
    height: 120px;
}
.caja3-servicios h2 {
    font-size: 15px;
    color: black;
    background-color: #11244788;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}
.caja3-servicios p {
    font-size: 12px;
}
.banner-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #878c8f7d;
    padding: 15px;
    margin-top: 28px;
}
.servicio img{
    width: 50px;
}
.servicios-4 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.caja4-servicios h3 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.caja4-servicios p {
    font-size: 12px;
    text-align: justify;
    color: black;
}
.caja4-servicios i {
    padding-right: 5px;
}
.form-servicios {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: black;
}

/* ---------- PAGINA SALUD Y BIENESTAR ---------*/
.saludybienestar {
    color: black;
    text-align: center;
    background-color: #878c8f7d;
    padding: 8px;
}
.saludybienestar h1 {
    font-family: "Bebas Neue", sans-serif;
}
.saludybienestar p {
    padding: 5px 10px 10px 8px;
    color: black;
    font-size: 17px;
}
.link-saludybienestar a {
    padding-right: 30px;
    border-top: 2px solid black;
    padding-top: 10px;
    color: #1B263B;
    text-decoration: none;
}
.caja-destacados-a {
    font-family: "Markazi Text", serif;
    color: black;
    text-align: center;
    padding: 10px 0 0 10px;
    font-weight: 600;
}
.destacados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    gap: 15px;
    margin-bottom: 8px;
}
.caja-destacados {
    background-size: cover;
}
.caja-destacados h4 {
    color: black;
    background-color: rgba(255, 255, 255, 0.671);
    font-family: "Cal Sans", sans-serif;
    margin-bottom: 2px;
}
.caja-destacados button {
    background-color: #7c7c7c8d;
    width: 30%;
    border: 2px solid white;
    padding: 5px;
    margin-left: 3px;
    font-family: "QuickSand", sans-serif;
    font-size: 12px;
}
.w-100 {
    height: 450px;
    object-fit: cover;
}
.carousel-caption {
    color: black;
    background-color: #ffffff47;
    border-radius: 15px;
    padding: 10px 0px 0px 5px;
}

/* ---------------PAGINA DE CONTACTOS------------- */
.caja-1 {
    text-align: center;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: xxx-large;
    padding-top: 5px;
}
.form-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    color: black;
}
.form-contacto input {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    margin: 15px;
}
.form-contacto select{
    text-align: center;
    width: 250px;
    padding: 5px;
}
.urgencias {
    display: flex;
    justify-content: space-around;
}
.tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #878c8f7d;
    color: black;
    width: 300px;
    height: 180px;
    margin: 20px;
    border-radius: 10px;
}
.tarjetas h2 {
    font-family: "Markazi Text", serif;
    font-size: 22px;
}
.tarjetas img {
    width: 32px;
}
.tarjetas a {
    text-decoration: none;
    color: #1B263B;
}
.tarjetas p {
    font-family: "Markazi Text", serif;
    font-size: 20px;
}

/* ---------------FOOTER---------------- */
footer {
    background-color: #C2C1C2;
    font-size: 12px;
    color: black;
    padding-bottom: 15px;
}
.foot {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-right: 0;
}
.foot div h4, h3{
    font-family: "Cal Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}
.foot ol {
    padding: 0;
    margin-bottom: 0;
}
.ospa p {
    margin: 0;
}
.ospa img {
    width: 50px;
    color: black;
    padding-left: 15px;
    padding-top: 10px;
}
.informacion ol li {
    list-style: none;
}
.informacion a {
    text-decoration: none;
    color: black;
}
.afiliarse ol li {
    list-style: none;
}
.afiliarse a {
    text-decoration: none;
    color: black;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.icons {
    padding-top: 5px;
}
.icons a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}
.icons img {
    width: 15px;
}
.privacidad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    padding-top: 10px;
}
.privacidad a {
    color: black;
}
.privacidad p {
    margin: 0;
}

/* ----------------- MEDIA QUERIE --------------- */
@media screen and (max-width: 1170px) {
    .ingresar h2 {
        font-size: 12px;
        text-align: center;
    }
    .boton {
        font-size: 12px;
        padding: 0;
    }
    .ingresar form {
        width: 150px;
    }
}

@media screen and (max-width: 1097px) {
    .ingresar h2 {
        font-size: 10px;
    }
    .ingresar form {
        font-size: 12px;
        font-weight: 500;
    }
    .ingresar {
        width: 200px;
        height: 280px;
    }
    .conocenos-bienvenida div{
        height: 340px;
    }
    .conocenos-bienvenida p{
        font-size: 13px;
    }
}

@media screen and (max-width: 1040px) {
    .bienvenida p {
        font-size: 15px;
    }
    .navbar-collapse {
        background-color: #1B263B !important;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        padding-top: 0;
        height: 80px;
    }
    .servicio {
        font-size: 10px;
    }
    .banner img {
        width: 40px;
    }
    .privacidad p {
        font-size: 10px;
    }
    .privacidad a {
        font-size: 10px;
    }
    .navbar-nav .nav-link.active {
        margin: 5px;
    }
    .navbar-collapse {
        background-color: #112447ba;
    }
    .collapse {
        padding: 0;
    }
    .conocenos-bienvenida{
        height: 350px;
    }
    .conocenos-bienvenida div{
        height: 250px;
    }
    .conocenos-bienvenida h1{
        font-size: 20px;
    }
    .conocenos-bienvenida p{
        font-size: 10px;
    }
    .caja-servicios h2{
        font-size: 30px;
    }
    .caja-servicios p{
        font-size: 12px;
    }
    .grid-servicios{
        grid-template-rows: 250px 250px;
    }
    .mas-servicios{
        font-size: 12px;
    }
}

@media screen and (max-width: 840px) {
    .bienvenida p{
        font-size: 12px;
    }
    .novedades h3{
        font-size: 15px;
    }
    .novedades p{
        font-size: 12px;
    }
    .servicios a{
        font-size: 8px;
        padding: 5px;
    }
    .privacidad{
        flex-direction: column;
        text-align: center;
    }
    .conocenos-bienvenida h1{
        font-size: 18px;
    }
    .conocenos-bienvenida h3{
        font-size: 12px;
    }
    .conocenos-bienvenida p{
        font-size: 8px;
    }
    .conocenos-bienvenida div{
        height: 220px;
    }
    .grid-cajas h3{
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {
    .main-section {
        flex-direction: column;
    }
    .bienvenida {
        padding-bottom: 0;
    }
    .bienvenida p{
        font-size: 15px;
    }
    .ingresar {
        width: 400px;
        height: 230px;
        padding: 20px;
        background-color: #1b263bbc;
    }
    .ingresar h2 {
        font-size: 12px;
        padding: 2px;
        margin-bottom: 5px;
        text-align: center;
    }
    .ingresar form {
        width: 100%;
        font-size: 15px;
        align-items: center;
        font-family: "Bebas Neue", sans-serif;
    }
    form a {
        margin-top: 5px;
    }
    .boton {
        font-size: 15px;
        font-family: "Markazi Text", serif;
        border-radius: 8px;
        background-color: white;
    }
    .boton-afiliado {
        display: none;
    }
    .afiliarme {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
    }
    .banner img{
        width: 25px;
    }
    .foot {
        font-size: 10px;
    }
    .ospa h3 {
        font-size: 10px;
    }
    .foot h4 {
        font-size: 10px;
    }
    .conocenos-bienvenida{
        height: 320px;
    }
    .grid-cajas h3{
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    .bienvenida p{
        font-size: 12px;
    }
    .banner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3px;
    }
    .servicio{
        display: flex;
        justify-content: center;
    }
    .navbar{
        height: 70px;
    }
    .foot{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .ospa, .informacion, .afiliarse, .icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .privacidad p{
        font-size: 8px;
    }
    .privacidad a{
        font-size: 8px;
    }
    .conocenos-bienvenida div{
        width: 100%;
        height: 230px;
    }
    .conocenos-bienvenida p{
        font-size: 10px;
    }
    .caja-servicios h2{
        font-size: 20px;
    }
    .caja-servicios p{
        font-size: 10px;
    }
    .mas-servicios{
        font-size: 10px;
    }
}

@media screen and (max-width: 591px) {
    .conocenos-bienvenida div{
        width: 100%;
        height: 220px;
    }
    .conocenos-bienvenida p{
        font-size: 10px;
        padding-top: 3px;
    }
    .grid-servicios{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px 200px;
        gap: 5px;
    }
    .grid-cajas h3{
        font-size: 10px;
    }
}

@media screen and (max-width: 454px) {
    .conocenos-bienvenida div{
        height: 260px;
    }
    .conocenos-bienvenida p{
        font-size: 10px;
    }
    
}

@media screen and (max-width: 425px) {
    header{
        font-size: 8px;
    }
    .bienvenida h1{
        font-size: 30px;
    }
    .ingresar{
        width: 300px;
        padding-top: 10px;
    }
    .novedades img{
        width: 250px;
    }
    .caja-novedades h2{
        font-size: 25px;
    }
    .caja-novedades p{
        font-size: 12px;
    }
    .servicio a{
        font-size: 8px;
    }
    .conocenos-bienvenida div{
        height: 250px;
    }
    .conocenos-bienvenida h1{
        font-size: 15px;
    }
    .conocenos-bienvenida h3{
        font-size: 10px;
    }
    .conocenos-bienvenida p{
        font-size: 9px;
    }
}

@media screen and (max-width: 375px) {
    .conocenos-bienvenida div{
        height: 250px;
    }
    .conocenos-bienvenida p{
        font-size: 8px;
    }
    .mas-servicios{
        font-size: 8px;
    }
}

@media screen and (max-width: 320px) {
    .bienvenida h1{
        background-color: #ffffff47;
        border-radius: 999px;
    }
    .bienvenida p{
        background-color: #ffffff47;
        border-radius: 50px;
        padding: 3px;
    }
    .ingresar{
        width: 270px;
    }
    .novedades img{
        width: 200px;
    }
    .foot{
        font-size: 9px;
        padding-right: 10px;
    }
    .ospa h3{
        font-size: 9px;
    }
    .ospa img{
        width: 40px;
    }
    .privacidad p{
        padding: 3px;
    }
    .icons img{
        width: 10px;
    }
}