/* FOOTER */
footer {
    background-color: #C2C1C2;
    font-family: "Cal Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: black;
    padding-bottom: 15px;
}
.foot {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-right: 0;
    div{
        h4 {
            font-family: "Cal Sans", sans-serif;
            font-size: 12px;
            font-weight: 600;
            margin: 0;
        }
    }
    ol {
        padding: 0;
        margin-bottom: 0;
    }
}
.ospa {
    p {
        margin: 0;
    }

    img {
        width: 50px;
        color: black;
        padding-left: 15px;
        padding-top: 10px;
    }
}
.informacion {
    ol {
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}
.afiliarse {
    ol {
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.icons{
    img{
    width: 15px;
    }
    a{
    text-decoration: none;
    color: black;
    padding-left: 5px;
    }
}
.privacidad{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    padding-top: 10px;
    p{
    margin: 0;
    }
    a{
    color: black;
    }
}