header{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    padding: 5px;
    background-color: #878c8f7d;
    a{
    color: black;
    padding-right: 10px;
    border-right: 2px solid black;
    }
    p{
    margin-bottom: 0;
    padding-left: 10px;
    }
}