@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Funnel+Display:wght@300..800&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asar&family=Bebas+Neue&family=Cal+Sans&family=Funnel+Display:wght@300..800&family=Markazi+Text:wght@400..700&family=New+Amsterdam&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Cal Sans", sans-serif;
    font-size: 15px;
    background-color: white;
}